# CORE
streamlit
streamlit-aggrid
streamlit-calendar
pandas
gspread
google-analytics-data
scikit-learn
reportlab
matplotlib
oauth2client

# PROB CORE
google-auth
google-auth-oauthlib

# PROB DEPENDENCIES
altair
numpy
seaborn
pydantic
plotly

hashlib